{% extends 'base.html.twig' %}

{% block title %} Liste des Articles mon criss!{% endblock %}

{% block body %}

<div>
    <ul>
        {% for article in articles %}
                    <a href="{{article.link}}">
                        <li>#{{article.id}} - {{article.title}}</li>
                    </a>
        {% endfor %}
    </ul>


</div>


{% endblock %}
